---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<article>
  <a href={`/blog/${post.slug}`}>
    <img
      src={post.data.image}
      alt={post.data.title}
      width="1024"
      height="512"
      class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
    />
    <h2 class="text-4xl text-zinc-900 mb-4 font-semibold inline-block">{post.data.title}</h2>
    <p class="text-zinc-500 text-2xl mb-5 line-clamp-3"> {post.body} </p>
  </a>
</article>
